{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">404 Not Found</h2>
                    <p>The page you are looking for does not exist.</p>
                    <a href="#" class="btn btn-primary rounded-pill mr-2">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}